<script>
    $(document).ready(function(){
        $('#headername').hide();
        $('#headername').fadeIn(1000);
        $('#headerslogan').hide();
        $('#headerslogan').fadeIn(3000);
    })
</script>
<div class="text-center" id="headertitle">
    <h1 id="headername">T C K R</h1>
    <h5 id="headerslogan">Time is Money</h5>
</div>
