<script>
    $(document).ready(function(){
        $(#header).hide();
        $(#header).fadeIn(1000);
    })
</script>
<div id="header" class="container">
    <div class="jumbotron">
        <img src="~/images/TCKRPlumLarge.png" alt="logo" id="headerLogo">
    </div>
</div>
