body.modal-open .navbar{
    -webkit-filter: blur(5px);
    -moz-filter: blur(5px);
    -o-filter: blur(5px);
    -ms-filter: blur(5px);
    filter: blur(4px);
}
#LoginHeader{
    background-image: url("/img/Marble.jpg");
    font-family: Perpetua, Baskerville, "Big Caslon", "Palatino Linotype", Palatino, "URW Palladio L", "Nimbus Roman No9 L", serif;
}
#LoginMain{
    background-image: url("/img/Marble.jpg");
    font-family: Perpetua, Baskerville, "Big Caslon", "Palatino Linotype", Palatino, "URW Palladio L", "Nimbus Roman No9 L", serif;
}
#RegHeader{
    background-image: url("/img/Marble.jpg");
    font-family: Perpetua, Baskerville, "Big Caslon", "Palatino Linotype", Palatino, "URW Palladio L", "Nimbus Roman No9 L", serif;
}
#RegMain{
    background-image: url("/img/Marble.jpg");
    font-family: Perpetua, Baskerville, "Big Caslon", "Palatino Linotype", Palatino, "URW Palladio L", "Nimbus Roman No9 L", serif;
}

#test{
    background-image: url("/img/Marble.jpg");
    height: 1000px;
}
#headerLogo{
    width: 250px;
    border-radius: 150px;
}
#profilewrapper {
    padding-top: 22px;
    padding-bottom: 30px;
    margin-top: 53px;
    border-radius: 10px;
    box-shadow: 3px 3px 13px #3e2828;
    background: linear-gradient(to top,#8f5e5ede, #b78d8d9c, #dcc2c287);
    font-family: Perpetua, Baskerville, "Big Caslon", "Palatino Linotype", Palatino, "URW Palladio L", "Nimbus Roman No9 L", serif;
}
#portfoliowrapper {
    text-shadow: 8px 8px 13px #3e282854;
    font-family: Perpetua, Baskerville, "Big Caslon", "Palatino Linotype", Palatino, "URW Palladio L", "Nimbus Roman No9 L", serif;
}

/***************** LANDING PAGE *************************/
#ActiveListWrapper{
    text-shadow: 8px 8px 13px #3e282854;
    font-family: Perpetua, Baskerville, "Big Caslon", "Palatino Linotype", Palatino, "URW Palladio L", "Nimbus Roman No9 L", serif;
    margin: 0px 100px;
}
#ActiveListHeader
{
    /* margin-top: 20px; */
    margin: 20px 0px -30px 10px;
}
/***************** LANDING PAGE *********************/
#Bio{
    width: 500px;
    /* margin-left: 60px; */
    background-color: #e6d1d1;
}
#Password{
    width: 500px;
    background-color: #e6d1d1;
}
#PasswordA{
    width: 500px;
    background-color: #e6d1d1;
}
#PasswordB{
    width: 500px;
    background-color: #e6d1d1;
}
#NewEmailA{
    width: 500px;
    background-color: #e6d1d1;
}
#NewEmailB{
    width: 500px;
    background-color: #e6d1d1;
}
#BioInline{
    display: inline-block;
}
#passwordbutton{
    color: #e6d1d1;
}
#emailbutton{
    color: #e6d1d1;
}
#EmailSuccess{
    color: #e6d1d1;
}
#PasswordSuccess{
    color: #e6d1d1;
}
#BioSuccess{
    color: #e6d1d1;
}
#navbar{
    border: none;
    box-shadow: 3px 3px 13px #3e2828;
    margin-top: 50px;
    height: 80px;
    background-color: #52324b99;
}
#navbar li a{
    font-size: 20px;
    /* Backup color since webkit (for gold color gradient) is not supported on all browsers */
    color: #ffffff;
    text-shadow: 3px 3px 13px #3e2828;
}
#smalltitle{
    text-shadow: 8px 8px 13px #3e282854;
}
a.navbar-brand{
    text-shadow: 8px 8px 13px #3e282854;
}

#navbar a{
    font-family: Perpetua, Baskerville, "Big Caslon", "Palatino Linotype", Palatino, "URW Palladio L", "Nimbus Roman No9 L", serif;
    font-size: 50px;
    /* Backup color since webkit (for gold color gradient) is not supported on all browsers */
    color: #ffffff;
    /* text-shadow: 3px 3px 13px #3e2828; */
    margin-top: 10px;
    background: -webkit-linear-gradient(#ffce48, #faf1d8, #8f6b09);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
button{
    border-radius: 5px; 
    color: #b5ad96;
    border-color: #a9a59375;
    background: linear-gradient(to top, #330c80, #04447c, #4010a0);
}
#profilemain{
    padding-left: 54px;
}
th, td {
    padding: 5px 10px;
    text-align: center;
}
tbody tr {
    border-top: 1px solid #eeeeee;
}
table {
    margin: 50px 0;
}
.dropdown {
    position: absolute;
    list-style: none;
    background-color: white;
    padding: 0;
}
.dropdown li {
    position: relative;
    padding: 5px 15px;
    border-right: 1px solid #cccccc;
    border-bottom: 1px solid #cccccc;
    border-left: 1px solid #cccccc;
}
.dropdown li:hover {
    background-color: #337ab7;
    color: white;
    cursor: pointer;
}
.dropdown .active {
    background-color: #337ab7;
    color: white;
    cursor: pointer;
}
.symbol {
    font-weight: bold;
}
.btn .btn-primary {
    background-color: #8064A2;
    border-color: #8064A2;
}
#headertitle{
    color: #ffffff;
    /* text-shadow: 3px 3px 13px #3e2828; */
    background: -webkit-linear-gradient(#ffce48, #faf1d8, #8f6b09);
    background: -moz-linear-gradient(#ffce48, #faf1d8, #8f6b09);
    background: -o-linear-gradient(#ffce48, #faf1d8, #8f6b09);
    background: linear-gradient(#ffce48, #faf1d8, #8f6b09);
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -o-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}
#headername{
    font-family: Perpetua, Baskerville, "Big Caslon", "Palatino Linotype", Palatino, "URW Palladio L", "Nimbus Roman No9 L", serif;
    font-size: 165px;
    color: #ffffff;
    /* text-shadow: 3px 3px 13px #3e2828; */
    background: -webkit-linear-gradient(#8c7a4a, #fff0c1, #8c7a4a);
    background: -moz-linear-gradient(#8c7a4a, #fff0c1, #8c7a4a);
    background: -o-linear-gradient(#8c7a4a, #fff0c1, #8c7a4a);
    background: linear-gradient(#8c7a4a, #fff0c1, #8c7a4a);
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -o-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
    -o-text-fill-color: transparent;
    text-shadow: 8px 8px 13px #3e282854;
}
#headerslogan{
    font-family: Perpetua, Baskerville, "Big Caslon", "Palatino Linotype", Palatino, "URW Palladio L", "Nimbus Roman No9 L", serif;
    font-size: 21px;
    color: #ffffff;
    /* text-shadow: 3px 3px 13px #3e2828; */
    background: -webkit-linear-gradient(#5a491a, #f6dd98, #8f6b09);
    background: -moz-linear-gradient(#5a491a, #f6dd98, #8f6b09);
    background: -o-linear-gradient(#5a491a, #f6dd98, #8f6b09);
    background: linear-gradient(#5a491a, #f6dd98, #8f6b09);
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -o-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
    -o-text-fill-color: transparent;
    text-shadow: 8px 8px 13px #3e282854;
}
