body.modal-open .navbar{
    -webkit-filter: blur(5px);
    -moz-filter: blur(5px);
    -o-filter: blur(5px);
    -ms-filter: blur(5px);
    filter: blur(4px);
}
th, td {
    padding: 5px 10px;
    text-align: center;
}
tbody tr {
    border-top: 1px solid #eeeeee;
}
table {
    margin: 50px 0;
}
#chart {
    position: relative;
    height: 400px;
    width: 800px;
}
